/* Misc style during development */

/* Hide news in sidebar for my sanity during development */
#pagelet_trending_tags_and_topics {
  display: none !important;
}

#pagelet_ego_pane .pagelet:first-child ._1-ia {
  padding-top: 0 !important;
}

/* 
  nocontrol-attached-fbtype-266
  nocontrol-attached-psn-EntStatusCreationStory
  nocontrol-attached-psn-EntWallPostCreationStory
  nocontrol-attached-role-1
  nocontrol-attached-role-16
  nocontrol-attached-sl-5 
  nocontrol-attached-storyname-EntStatusCreationStory
*/

.nocontrol-show-psn-EntCommentNodeBasedEdgeStory .nocontrol-post:not(.nocontrol-psn-EntCommentNodeBasedEdgeStory),
.nocontrol-show-psn-EntEventCreationStory .nocontrol-post:not(.nocontrol-psn-EntEventCreationStory),
.nocontrol-show-psn-EntPhotoUploadBatchNodeBasedEdgeStory
  .nocontrol-post:not(.nocontrol-psn-EntPhotoUploadBatchNodeBasedEdgeStory),
.nocontrol-show-psn-EntShareCreationStory .nocontrol-post:not(.nocontrol-psn-EntShareCreationStory),
.nocontrol-show-psn-EntSingleUserShareAggregatedStory
  .nocontrol-post:not(.nocontrol-psn-EntSingleUserShareAggregatedStory),
.nocontrol-show-psn-EntStatusCreationStory .nocontrol-post:not(.nocontrol-psn-EntStatusCreationStory),
.nocontrol-show-psn-EntVideoCreationStory .nocontrol-post:not(.nocontrol-psn-EntVideoCreationStory),
.nocontrol-show-psn-EntGroupCreationStory .nocontrol-post:not(.nocontrol-psn-EntGroupCreationStory),
.nocontrol-show-has-attachment .nocontrol-post:not(.nocontrol-has-attachment),
.nocontrol-show-fbtype-1 .nocontrol-post:not(.nocontrol-fbtype-1),
.nocontrol-show-fbtype-22 .nocontrol-post:not(.nocontrol-fbtype-22),
.nocontrol-show-fbtype-32 .nocontrol-post:not(.nocontrol-fbtype-32),
.nocontrol-show-fbtype-266 .nocontrol-post:not(.nocontrol-fbtype-266),
.nocontrol-show-fbtype-657 .nocontrol-post:not(.nocontrol-fbtype-657),
.nocontrol-show-role-1 .nocontrol-post:not(.nocontrol-role-1),
.nocontrol-show-role-4 .nocontrol-post:not(.nocontrol-role-4),
.nocontrol-show-role-5 .nocontrol-post:not(.nocontrol-role-5),
.nocontrol-show-role-16 .nocontrol-post:not(.nocontrol-role-16),
.nocontrol-show-is-sponsored .nocontrol-post:not(.nocontrol-is-sponsored),
.nocontrol-show-is-personal .nocontrol-post:not(.nocontrol-is-personal),
.nocontrol-show-is-page .nocontrol-post:not(.nocontrol-is-page),
.nocontrol-show-storyname-undefined .nocontrol-post:not(.nocontrol-storyname-undefined),
.nocontrol-show-storyname-EntEventCreationStory .nocontrol-post:not(.nocontrol-storyname-EntEventCreationStory),
.nocontrol-show-storyname-EntPhotoUploadBatchNodeBasedEdgeStory
  .nocontrol-post:not(.nocontrol-storyname-EntPhotoUploadBatchNodeBasedEdgeStory),
.nocontrol-show-storyname-EntShareCreationStory .nocontrol-post:not(.nocontrol-storyname-EntShareCreationStory),
.nocontrol-show-storyname-EntSingleUserShareAggregatedStory
  .nocontrol-post:not(.nocontrol-storyname-EntSingleUserShareAggregatedStory),
.nocontrol-show-storyname-EntStatusCreationStory .nocontrol-post:not(.nocontrol-storyname-EntStatusCreationStory),
.nocontrol-show-storyname-EntVideoCreationStory .nocontrol-post:not(.nocontrol-storyname-EntVideoCreationStory),
.nocontrol-show-storyname-EntGroupCreationStory .nocontrol-post:not(.nocontrol-storyname-EntGroupCreationStory),
.nocontrol-show-storyname-EntWallPostCreationStory .nocontrol-post:not(.nocontrol-storyname-EntWallPostCreationStory) {
  display: none;
}

.nocontrol-filter div[id^='more_pager_pagelet'] .async_saving * {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}
