#nocontrol {
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 3px;
}

#nocontrol label {
  cursor: pointer;
}

#nocontrol input[type='checkbox'] {
  margin: 0 2px 0 0;
  vertical-align: baseline;
}

/* Toggles */

#nocontrol-toggles {
  margin: 7px;
}

/* Tabs */

#nocontrol-tabs li {
  display: inline-block;
  list-style-type: none;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}

#nocontrol-tabs a {
  color: #1d2129;
  display: inline-block;
  vertical-align: baseline;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
  font-size: 14px;
  line-height: 18px;
  margin: 4px 4px 0 4px;
  border-bottom: 3px solid transparent;
}

#nocontrol-tabs a:hover {
  text-decoration: none;
  border-bottom-color: #dddddd;
}

#nocontrol-tabs a.nocontrol-tab-active {
  border-bottom-color: #4267b2;
  font-weight: bold;
}

/* Loading box */

.nocontrol-wait {
  padding: 20px;
  font-size: 13px;
  margin-bottom: 5px;
}

/* No more stories message */

.nocontrol-no-more-stories {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  margin-bottom: 5px;
}

/* Generic white box shared by page elements */
.nocontrol-panel {
  background: #fff;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  padding: 12px 24px 12px 12px;
  color: #4b4f56;
}
.nocontrol-hide {
  display: none !important;
}

.nocontrol-filtering div[id^='more_pager_pagelet'] .async_saving * {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

/* Hide news in sidebar for my sanity during development */
#pagelet_trending_tags_and_topics {
  display: none !important;
}

#pagelet_ego_pane .pagelet:first-child ._1-ia {
  padding-top: 0 !important;
}
