/* By default, hide all stories, so they don't flash onto the page during load */
/* Our code will overwrite this for stories that should be displayed */
div[id^='hyperfeed_story_id_'] {
  display: none;
}

/* Hide native loader */
div[id^='more_pager_pagelet'] .async_saving * {
  display: none !important;
}

.feedblock_hide_footer #pagelet_rhc_footer,
.feedblock_hide_stories #stories_pagelet_rhc,
.feedblock_hide_trending #pagelet_trending_tags_and_topics,
.feedblock_hide_sponsored #pagelet_ego_pane {
  display: none !important;
}
