#faceblock {
  user-select: none;
}

#faceblock label {
  cursor: pointer;
  color: #1d2129;
  font-weight: normal;
}

#faceblock h4 {
  color: rgb(75, 79, 86);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.13px;
  line-height: 17px;
  -webkit-font-smoothing: antialiased;
}

#faceblock h4 a {
  font-weight: 300;
}

#faceblock-filters {
  background: #f6f7f9;
}

a.delete {
  color: rgb(156, 0, 0);
}

a.delete:hover {
  background: rgb(156, 0, 0);
  color: #fff;
}

#faceblock-filters li {
  list-style: none;
}
