#feedblock {
  user-select: none;
}

#feedblock li {
  list-style: none;
}

#feedblock footer {
  text-align: center;
}

a.delete {
  color: rgb(156, 0, 0);
  cursor: pointer;
}

a.delete:hover {
  background: rgb(156, 0, 0);
  color: #fff;
}

#feedblock label {
  cursor: pointer;
}

#feedblock-keywords h5.has-keywords {
  cursor: pointer;
}

#feedblock h4 {
  cursor: pointer;
}
