#feedblock {
  margin-bottom: 10px;
}

#feedblock h4 {
  display: flex;
  height: 17px;
}

#feedblock h4 span {
  flex: 1;
}

#feedblock h4 a {
  flex: 0;
  visibility: hidden;
}

#feedblock h4:hover a {
  visibility: visible;
}

#feedblock-filters {
  margin-top: 5px;
  padding: 5px 6px 7px;
}

#feedblock input[type='text'] {
  width: 100px;
}

#feedblock input[type='checkbox'] {
  margin: 0;
  position: relative;
  top: -1px;
}

#feedblock section {
  margin-top: 10px;
}

#feedblock section:first-of-type {
  margin-top: 0;
}

#feedblock section h5 {
  margin-top: 5px;
}

#feedblock section:first-of-type h5 {
  margin-top: 0;
}

#feedblock section ul {
  line-height: 1;
}

#feedblock section li {
  margin: 4px 0;
}

a.delete {
  padding: 0 2px;
}

#feedblock-wait {
  padding: 10px;
}

#feedblock-blocklists select {
  margin-right: 4px;
}

#feedblock footer {
  margin-top: 6px;
}

#feedblock hr {
  margin: 3px 0;
}
