/* By default, hide all stories, so they don't flash onto the page during load */
/* Our code will overwrite this for stories that should be displayed */
div[id^='hyperfeed_story_id_'] {
  display: none;
}

.nocontrol-filtering .nocontrol-post {
  display: none;
}

.nocontrol-show-psn-EntCommentNodeBasedEdgeStory .nocontrol-post.nocontrol-psn-EntCommentNodeBasedEdgeStory {
  display: block !important;
}

.nocontrol-show-psn-EntGroupMallPostCreationStory .nocontrol-post.nocontrol-psn-EntGroupMallPostCreationStory,
.nocontrol-show-storyname-EntGroupMallPostCreationStory
  .nocontrol-post.nocontrol-storyname-EntGroupMallPostCreationStory {
  display: block !important;
}

.nocontrol-show-has-attachment .nocontrol-post.nocontrol-has-attachment,
.nocontrol-show-is-sponsored .nocontrol-post.nocontrol-is-sponsored,
.nocontrol-show-is-personal .nocontrol-post.nocontrol-is-personal,
.nocontrol-show-is-page .nocontrol-post.nocontrol-is-page {
  display: block !important;
}

.nocontrol-show-collection-photos .nocontrol-post.nocontrol-fbtype-22,
.nocontrol-show-collection-photos .nocontrol-post.nocontrol-attached-storyname-EntPhotoNodeBasedEdgeStory,
.nocontrol-show-collection-photos .nocontrol-post.nocontrol-storyname-EntPhotoNodeBasedEdgeStory,
.nocontrol-show-collection-photos .nocontrol-post.nocontrol-attached-psn-EntPhotoNodeBasedEdgeStory,
.nocontrol-show-collection-photos .nocontrol-post.nocontrol-psn-EntPhotoNodeBasedEdgeStory,
.nocontrol-show-collection-photos .nocontrol-post.nocontrol-attached-storyname-EntPhotoUploadBatchNodeBasedEdgeStory,
.nocontrol-show-collection-photos .nocontrol-post.nocontrol-storyname-EntPhotoUploadBatchNodeBasedEdgeStory,
.nocontrol-show-collection-photos .nocontrol-post.nocontrol-attached-psn-EntPhotoUploadBatchNodeBasedEdgeStory,
.nocontrol-show-collection-photos .nocontrol-post.nocontrol-psn-EntPhotoUploadBatchNodeBasedEdgeStory {
  display: block !important;
}

.nocontrol-show-collection-videos .nocontrol-post.nocontrol-attached-storyname-EntVideoCreationStory,
.nocontrol-show-collection-videos .nocontrol-post.nocontrol-storyname-EntVideoCreationStory,
.nocontrol-show-collection-videos .nocontrol-post.nocontrol-attached-psn-EntVideoCreationStory,
.nocontrol-show-collection-videos .nocontrol-post.nocontrol-psn-EntVideoCreationStory {
  display: block !important;
}

.nocontrol-show-collection-events .nocontrol-post.nocontrol-fbtype-657,
.nocontrol-show-collection-events .nocontrol-post.nocontrol-attached-storyname-EntEventCreationStory,
.nocontrol-show-collection-events .nocontrol-post.nocontrol-storyname-EntEventCreationStory,
.nocontrol-show-collection-events .nocontrol-post.nocontrol-attached-psn-EntEventCreationStory,
.nocontrol-show-collection-events .nocontrol-post.nocontrol-psn-EntEventCreationStory {
  display: block !important;
}

.nocontrol-show-collection-links .nocontrol-post.nocontrol-has-external-link,
.nocontrol-show-collection-links .nocontrol-post.nocontrol-fbtype-32,
.nocontrol-show-collection-links .nocontrol-post.nocontrol-attached-storyname-EntShareCreationStory,
.nocontrol-show-collection-links .nocontrol-post.nocontrol-storyname-EntShareCreationStory,
.nocontrol-show-collection-links .nocontrol-post.nocontrol-attached-psn-EntShareCreationStory,
.nocontrol-show-collection-links .nocontrol-post.nocontrol-psn-EntShareCreationStory {
  display: block !important;
}

.nocontrol-show-collection-checkins .nocontrol-post.nocontrol-role-4,
.nocontrol-show-collection-checkins .nocontrol-post.nocontrol-role-5 {
  display: block !important;
}

.nocontrol-show-collection-wallposts .nocontrol-post.nocontrol-attached-storyname-EntWallPostCreationStory,
.nocontrol-show-collection-wallposts .nocontrol-post.nocontrol-storyname-EntWallPostCreationStory,
.nocontrol-show-collection-wallposts .nocontrol-post.nocontrol-attached-psn-EntWallPostCreationStory,
.nocontrol-show-collection-wallposts .nocontrol-post.nocontrol-psn-EntWallPostCreationStory {
  display: block !important;
}
