#feedblock {
  background: #fff;
  margin-bottom: 10px;
}

#feedblock a {
  cursor: pointer;
}

#feedblock h5 {
  font-size: 12px;
}

#feedblock-mentions h5.has-mentions,
#feedblock-hashtags h5.has-hashtags {
  cursor: pointer;
}

#feedblock .autocomplete-list li a,
#feedblock .autocomplete-list li a:hover {
  text-decoration: none;
}

#feedblock footer {
  margin-top: 10px;
}
